<!doctype html>
<html ng-app="saveMyContactsApp">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <!-- Optimize mobile viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="lib/angular.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="lib/angular-resource.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-mask/dist/mask.js"></script>

  <!-- Import our js files -->
  <script src="js/app.js"></script>
  <script src="js/contactService.js"></script>
  <script src="js/contactCtrl.js"></script>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

  <title> Save My Contacts </title>

</head>

<body ng-controller="contactCtrl" ng-init="findAllContact()">
  <div class="container">

    <!-- CABEÇALHO E TOTAL DE CONTATOS -->
    <div class="jumbotron text-center">
      <h1> Contact List <span class="label label-info">{{ allContacts.length }}</span></h1>
    </div>

    <!-- LISTA NOSSOS CONTATOS -->
    <div id="contact-list">
      <table class="table table-striped">

        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Fone</th>
          <th>Opções</th>
        </tr>

        <!-- LOOP PARA CARREGAR TODOS OS CONTATOS EM $scope.contatos -->
        <tr ng-repeat="contact in allContacts" ng-click="findOneContact(contact._id)">
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.fone }}</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="setUpUpdate(contact)">Editar</button>
            <button type="button" class="btn btn-primary" ng-click="deleteContact(contact._id)">Remover</button>
          </td>
        </tr>
      </table>

      <!-- FORMULÁRIO PARA CRIARMOS UM NOVO CONTATO -->
      <div id="contato-form">
        <hr>
        <form>
          <div class="form-group col-md-3">
            <label for="nameContato">Nome</label>
            <input type="text" class="form-control" id="nameContato" placeholder="Nome Sobrename" ng-model="formContact.name">
          </div>
          <div class="form-group col-md-3">
            <label for="emailContato">E-mail</label>
            <input type="email" class="form-control" id="emailContato" placeholder="exemplo@exemplo.com" ng-model="formContact.email">
          </div>
          <div class="form-group col-md-3">
            <label for="foneContato">Telefone</label>
            <input type="text" class="form-control" id="foneContato" ui-mask="(99) 9999-9999" placeholder="(00) 0000-0000" ng-model="formContact.fone">
          </div>
          <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary" ng-click="createContact(formContact)">Criar</button>
            <button type="submit" class="btn btn-info" ng-click="updateContact(formContact)">Atualizar</button>
          </div>
        </form>
      </div>

    </div>

    </html>
